* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f3e4d5;
}

.container {
    position: relative;
}

.box {
    position: relative;
    width: 450px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 32px;
    border-left: 10px solid #996363;
    border-right: 2px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(white 30px, #d1d1d1 31px);
    background-size: 100% 32px;
}

h2 {
    width: 100%;
    height: 7.6%;
    font-weight: 700;
    text-align: center;
    font-size: 1.60rem;
    margin-bottom: 2%;
}

#task {
    width: 100%;
    height: 35px;
    margin: 20px 0;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    line-height: 1.2em;
    outline: none;
    background: transparent;
}

.box li {
    display: flex;
    align-items: center;
    background: transparent;
    margin: 15px 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.25em; /* Adjusted to fit better */
    line-height: 32px; /* Match line spacing */
    cursor: pointer;
}

.box li i {
    margin-right: 10px;
    font-size: 22px; /* Slightly larger to match text */
    cursor: pointer;
    color: #996363;
}
