* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f3e4d5;
}

.container {
    position: relative;
}

.box {
    position: relative;
    width: 450px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 32px;
    border-left: 10px solid #996363;
    border-right: 2px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: linear-gradient(white 38px, #d1d1d1 39px);
    background-size: 100% 39px;
}

h2 {
    width: 100%;
    height: 7.6%;
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2%;
    margin-top: 3%;
}

#task {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    line-height: 1.2em;
    outline: none;
    background: transparent;
}

.box li {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 39px;
    cursor: pointer;
    height: 39px;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
}

.box li i {
    margin-right: 10px;
    font-size: 22px;
    cursor: pointer;
    color: #996363;
    position: relative;
    top: -3px;
}

.box ul {
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #996363;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 1.1em;
}

.pagination button:hover {
    background-color: #d1d1d1;
    color: #996363;
}